html {
  height: auto;
}

html, body {
  height: 70%;
  width: 99%;
  background-color: black;
}

.row {
  background-color: black;
  margin-bottom: 40%
}

h1 {
  size: 45em;
  padding-top: 10%;
  padding-bottom: 5%;
  position: relative;
  text-align: center;
  font-family: adele mono, monospace;
  color: #39ff14;
}

p {
  color: #39ff14;
}

.text-input {
  margin-top: 50px;
  text-align: center;
  
}

p {
  padding-top: 3%;
}

button {
  background-color: black;
  color: #39ff14;
  border: 2px solid #39ff14;
  width: 80px;
  height: 30px;
}

button:hover {
  background-color: #39ff14;
  color: black;
}

.submit {
  text-align: center;
  padding: 2% 0;
}

.encrypt {
  padding-right: 40px;
}
.imgKryptering {
  width: 100%;
  opacity: 100%;
}

.CfinishedMessage {
  border-block-color: #39ff14;
}